<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="USER_KEY" value="f477f8ffd4619877e8ed3f0f79bed635"/>
    <add key="QUERY_PATH" value="https://api.themoviedb.org/3/search/movie?api_key={0}&amp;query={1}&amp;language=fr"/>
    <add key="DETAIL_PATH" value="https://api.themoviedb.org/3/movie/{0}?api_key={1}&amp;language=fr"/>
    <add key="IMAGE_PATH" value="https://image.tmdb.org/t/p/w500{0}"/>
    <add key="CREDITS_PATH" value="https://api.themoviedb.org/3/movie/{0}/credits?api_key={1}"/>
    <add key="SOURCE" value="Films HD"/>
    <!-- <add key="FOLDER" value="Y:\Nouveaux"/> -->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
